@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header-container {
        width: auto;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
    }

    .navigation li a {
        padding: 1rem 1.5rem;
        border: none;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}